.cards {
    max-width: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*! Mediaqueris  */

@media only screen and (min-width: 481px) {
    .cards {
        max-width: 100%;
        background-color: rgb(255, 255, 255);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
  }
  
  @media only screen and (min-width: 769px){
    .cards {
        max-width: 78%;
        background-color: rgb(255, 255, 255);
        margin: 200px auto 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  }
  