
.box-cart {
    margin-bottom: 50px;
}


.shopping-cart {
    width: 300px;
    height: 380px;
    overflow: auto;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #fff;
}

.cart-title{
    text-align: center;
    font-family: Montserrat, arial, Helvetica, sans-serif;
}

.box-total {
    display: flex;
    border: 1px solid #000;
    background-color: #fff;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat, arial,Helvetica, sans-serif;
}

.box-total :nth-child(2) {
    position: relative;
    left: 57%;
}

/*! Mediaqueris  */

@media only screen and (min-width: 481px) {
    .shopping-cart {
        width: 70%;
    }

    .box-total {
        width: 70%;
    }

    .box-total :nth-child(2) {
        left: 70%;
      }
}
  
  @media only screen and (min-width: 769px){
  .shopping-cart {
      width: 600px;
  }


  .box-total {
      width: 600px;
  }

  
  .box-total :nth-child(2) {
    left: 78%;
  }

}
  
@media only screen and (min-width: 1280px) {
    .box-cart {
        position: relative;
        left: 700px;
        width: 600px;
    } 
}