.shopping-cart {
    width: 300px;
    height: 380px;
    overflow: auto;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #fff;
}

.cart-title{
    text-align: center;
    font-family: Montserrat, arial, Helvetica, sans-serif;
}

/*! Mediaqueris  */

@media only screen and (min-width: 481px) {
    .shopping-cart {
        width: 70%;
        height: 380px;
        overflow: auto;
        border: 1px solid #000;
        margin-left: auto;
        margin-right: auto;
    }
}
  
  @media only screen and (min-width: 769px){
  
  }
  