@import url("https://fonts.googleapis.com/css2?family=Fauna+One&family=Montserrat:wght@500&display=swap");

/*! Este son los estilos del menu de navegacion*/

.rightside {
  height: 80px;
  width: 100%;
  flex: 50%;
  display: flex;
  align-items: center;
  background-color: #F38BA0;
  justify-content: center;
  position: sticky;
  top: 0px;
}

.rightside a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  margin-right: 10px;
  font-family: Montserrat, "Helvetica Neue", "Helvetica";
  
}

/*! Mediaqueris  */

@media only screen and (min-width: 481px) {
  .rightside a {
    font-size: 1.3em;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 769px){
  .rightside a {
    font-size: 1.5em;
    margin-right: 30px;
  }
}
