.footer {
    width: 100%;
    height: 150px;
    background-color: #F38BA0;
}

.footer-icons {
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 2em;
}

.footer-icons :nth-child(1) {
    color: #24bb2b;
    margin-right: 20px;
}

.footer-icons :nth-child(2) {
    color: #0654e4;
}

.footer-text {
    text-align: center;
    position: relative;
    top: 50px;
}

@media only screen and (min-width: 480px) {
    .footer {
        height: 75px;
    }

    .footer-icons {
        position: initial;
        font-size: 2em;
    }

    .footer-text {
        text-align: center;
        position: initial;
    }
}

@media only screen and (min-width: 769px) {
    

} 

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1423px) {
    
}